.alwaysmain{
  overflow: scroll;
  width: 100%;
  box-sizing: border-box;
}
.alwaysmain::-webkit-scrollbar {
  width: 8px;  
  display: none;
}

.alwaysmain::-webkit-scrollbar-track {
  background-color: rgb(207,204,204);
  border-radius: 10px;  
  box-shadow: 10px 10px 10px 10px rgb(228, 223, 223);
  display: none;
}

.alwaysmain::-webkit-scrollbar-thumb {
  background-color: #888;  
  border-radius: 10px;  
  height: 15px;
  display: none;
}

.alwaysmain::-webkit-scrollbar-thumb:hover {
  background-color: #555;  
 
}
.mobileops {
  display: flex;
  overflow-x: auto; 
  border: none;
  margin-top: 9px;
  margin-bottom:3px;
  border: 2px solid black;
  width: 100%;
  height: auto;
  align-items: center;
  border: none;
  margin-left: 15px;
}
@media screen and (min-width:0px) and (max-width:750px){
  .mobileops {
    display: flex;
    overflow-x: auto; 
    border: none;
    margin-top: 9px;
    margin-bottom:3px;
    border: 2px solid black;
    width: 100%;
    height: auto;
    align-items: center;
    border: none;
    margin-left: 0px;
  }
}
/* Styling for the individual button holders */
.buttonholders {
  display: flex;
  align-items: center;
  justify-content: center;  /* Center align icon and button text */
  margin-right: 5px;
  background-color: transparent; /* White background for buttons */
  padding: 5px 15px;
  border-radius: 25px;  /* Rounded edges for buttons */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  height: 30px;  /* Set a fixed height for consistency */
  outline: none;
  background-color: #f1f1f1;
  border: 1px solid white;
  color: black;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  margin-bottom: 3px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
}
.buttonholdersss {
  display: flex;
  align-items: center;
  justify-content: center;  /* Center align icon and button text */
  margin-right: 5px;
  background-color: transparent; /* White background for buttons */
  padding: 5px 15px;
  border-radius: 25px;  /* Rounded edges for buttons */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  height: 30px;  /* Set a fixed height for consistency */
  outline: none;
  background-color: #f1f1f1;
  border: 1px solid white;
  color: black;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  margin-bottom: 3px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
}
/* Button holder hover effect */
.buttonholders:hover {
  transform: scale(1.05);  /* Slightly enlarge on hover */
  background-color: #f1f1f1; /* Light grey background on hover */
}

.buttonholders svg {
  margin-right: 8px;  /* Space between icon and button text */
  color: #5e5e5e;  /* Icon color */
}

/* Styling for buttons */
.buttonsz {
  border: none;
  background-color: transparent;  /* Transparent button background */
  color: #333;  /* Dark text color */
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;  /* Padding inside the button */
  transition: color 0.3s, background-color 0.3s; /* Smooth transitions */
  height: 100%; /* Make button fill the height of the holder */
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;  /* Ensure text is centered */
  outline: none;
  flex-shrink: 0;
}

/* Button hover effect */
.buttonsz:hover {
  color: #007bff;  /* Change text color on hover */
  background-color: #e7f1ff;  /* Light blue background on hover */
}

/* Hide the scrollbar */
.mobileops::-webkit-scrollbar {
  height: 8px;  /* Vertical scrollbar height */
  background-color: transparent; /* Make scrollbar background invisible */
  display: none;
}

/* Styling for the scrollbar track */
.mobileops::-webkit-scrollbar-track {
  background-color: transparent;
  display: none;
}

/* Styling for the scrollbar thumb */
.mobileops::-webkit-scrollbar-thumb {
  background-color: #888;  /* Dark thumb color */
  border-radius: 10px;  /* Rounded corners */
  display: none;
}

/* Hover effect for the scrollbar thumb */
.mobileops::-webkit-scrollbar-thumb:hover {
  background-color: #555;  /* Darker thumb on hover */
  display: none;
}

  .realwish::-webkit-scrollbar {
    width: 8px;  
    display: none;
  }



.home{
  height: 100vh;
}
.alwaysmain .modern{
  display: flex;
  border: 2px solid black;
  width: 100%;
  height: 100%;
  border: none;
 overflow: hidden;
}
.modern .sidebar{
  display: none;
  border: 2px solid black;
  width: 8%;
  overflow: scroll;
  border: none;
}
.sidebar::-webkit-scrollbar {
  width: 8px;  
  display: none;
}

.sidebar::-webkit-scrollbar-track {
  background-color: rgb(207,204,204);
  border-radius: 10px;  
  box-shadow: 10px 10px 10px 10px rgb(228, 223, 223);
  display: none;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #888;  
  border-radius: 10px;  
  height: 15px;
  display: none;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #555;  
 
}
.sidebar .sidediv{
  display: flex;
  align-items: center;  /* Center align icon and button text */
  background-color: transparent; /* White background for buttons */
  border-radius: 7px;  /* Rounded edges for buttons */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  height: 41px;  /* Set a fixed height for consistency */
  outline: none;
  background-color: #f1f1f1;
  border: 1px solid white;
  margin-top: 23px;
}
.sidediv:hover {
  transform: scale(1.05);  /* Slightly enlarge on hover */
  background-color: #f1f1f1; /* Light grey background on hover */
}
.sidebar .sidedivterm{
  margin-top: 13px;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border: none;
  box-shadow: 5px 5px 15px rgba(139, 139, 139, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.sidediv .homeicon,.likeicon,.followicon,.trendingnewsicon,.trendingnoteicon,.trendingpersonicon{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 3px;
  padding: 7px;
  box-shadow: 10px 10px 10px rgb(231, 231, 231);
  cursor: pointer;
}
.sidediv .para{
  border: none;
  background-color: transparent;  /* Transparent button background */
  color: #333;  /* Dark text color */
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;  /* Padding inside the button */
  transition: color 0.3s, background-color 0.3s; /* Smooth transitions */
  height: 100%; /* Make button fill the height of the holder */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;  /* Ensure text is centered */
  outline: none;
  flex-shrink: 0;
  margin-left: 6px;
}
.para:hover {
  color: #007bff;  /* Change text color on hover */
  background-color: #e7f1ff;  /* Light blue background on hover */
}
.postcontainer{
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  overflow-x: hidden;
  box-shadow: none;
  overflow-y: auto; 
  background-color: rgb(240,240,240);
  border: 2px solid black;
  border: none;
}
.postcontainer::-webkit-scrollbar {
  width: 8px;  
  display: none;
}

.postcontainer::-webkit-scrollbar-track {
  background-color: rgb(207,204,204);
  border-radius: 10px;  
  box-shadow: 10px 10px 10px 10px rgb(228, 223, 223);
  display: none;
}

.postcontainer::-webkit-scrollbar-thumb {
  background-color: #888;  
  border-radius: 10px;  
  height: 15px;
  display: none;
}

.postcontainer::-webkit-scrollbar-thumb:hover {
  background-color: #555;  
  display: none;
}
.postcontainer .contentdivsponsored{
  border: 2px solid black;
  width: 19%;
  box-shadow: 10px 10px 10px rgb(231, 231, 231);
  margin-left: 3px;
  margin-right: 5px;
  margin-top: 4px;
  margin-bottom: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid white;
}
.contentdivsponsored .shows{
  border: 1px solid black;
  border: none;
}
.shows .showimage{
  width: 100%;
  height: 170px;
  border: 1px solid blue;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border: none;
}

.showimage:hover{
  transform: scale(1.01);
}
.contentdivsponsored .title{
  border: 1px solid black;
  height: 20px;
  overflow: hidden;
  margin-top: 10px;
  border: none;
}
.title .currenttitle{
  border: 1px  solid black;
  font-weight: 500;
  border: none;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
}
.contentdivsponsored .creatordiv{
  display: flex;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  border: none;
}
.creatordiv .userimage{
  border-radius: 50%;
  width: 50px;
  height: 50px;

  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.userimage:hover{
  transform: scale(1.05);
}
.usernames{

  font-size: 18px;
  margin-left:5%;
  margin-right:5%;
  font-weight: 500;
  border: 1px solid black;
  border: none;
}
.creatordiv .showlink{
  text-decoration: none;
  color: black;
 
  font-size: large;
  font-weight: 500;
  border-radius: 17px 78px;
  color: black;
  width: 70px;
  color: red;
  background-color: white;
  outline: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  border: none;
  }
  .showlink:hover{
    transform: scale(1.05);
  }
.postcontainer .containe{
  border: 2px solid red;
  width: 19%;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 5px;
  margin-top: 4px;
  box-shadow: 10px 10px 10px rgb(231, 231, 231);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid white;
  
}
.containe .thumbnaildi{
  width: 100%;
}
.thumbnaildi .thumbnai{
  width: 100%;
  height: 170px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
}
.thumbnai:hover{
  transform: scale(1.007);
}
.containe .titledi{
  margin-top: 10px;
  border: 1px solid black;
  overflow: hidden;
  height: 20px;
  width: 100%;
  border: none;
}
.titledi .ptitl{
  border: 1px  solid black;
  text-transform: lowercase;
  font-weight: 500;
  width: 100%;
  text-align: center;
  color: black;
  border: none;
}
.containe .creatordi{
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
  border: none;
}
.creatordi .creatorima{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 10px 10px 10px rgb(231, 231, 231);
  border: none;
  transition: all 2s ease;
}
.creatorima:hover{
  transform: scale(1.1);
}
.creatordi .creatornam{

  font-size: 13px;
  font-weight: 500;

  text-align: start;
  border: 1px solid black;
  margin-left: 20px;
  border: none;
}

.nodiv{
  border: 1px solid red;
  margin-top: 30px;
  border: none;
}
.nocontent{
  border: 1px solid black;

  font-size: large;
  font-weight: 500;
  text-shadow: 10px 10px 10px black;

  height: 30px;
  border: none;
}

@media screen and (min-width: 1600px) {
 .modern .sidebar{
  display: block;
 }
 }
 @media screen and (max-width: 500px) {
 

/* Styling for the individual button holders */
.buttonholder {
  display: flex;
  align-items: center;
  justify-content: center;  /* Center align icon and button text */
  margin-right: 5px;
  background-color: transparent; /* White background for buttons */
  padding: 5px 15px;
  border-radius: 25px;  /* Rounded edges for buttons */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  height: 30px;  /* Set a fixed height for consistency */
  outline: none;
  background-color: #f1f1f1;
  border: 1px solid white;
}

/* Button holder hover effect */
.buttonholder:hover {
  transform: scale(1.05);  /* Slightly enlarge on hover */
  background-color: #f1f1f1; /* Light grey background on hover */
}

.buttonholder svg {
  margin-right: 8px;  /* Space between icon and button text */
  color: #5e5e5e;  /* Icon color */
}

/* Styling for buttons */
.button {
  border: none;
  background-color: transparent;  /* Transparent button background */
  color: #333;  /* Dark text color */
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;  /* Padding inside the button */
  transition: color 0.3s, background-color 0.3s; /* Smooth transitions */
  height: 100%; /* Make button fill the height of the holder */
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;  /* Ensure text is centered */
  outline: none;
  flex-shrink: 0;
}

/* Button hover effect */
.button:hover {
  color: #007bff;  /* Change text color on hover */
  background-color: #e7f1ff;  /* Light blue background on hover */
}

 .postcontainer .containe{
  width: 100%;

  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border: none;
 }
 .thumbnaildi .thumbnai{
  width: 100%;
  height: 210px;
 
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border: none;
}
.containe .creatordi{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 0px;
  border: none;
}

.postcontainer .contentdivsponsored{
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.shows .showimage{
  width: 100%;
  height: 210px;
  border: 1px solid blue;

  border: none;
}
.creatordi .creatorima{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;

  border: none;
  margin-left: 5px;
  transition: all 2s ease;
}
.contentdivsponsored .creatordiv{
  display: flex;
  border: 1px solid black;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 4px;
  border: none;
}
}

@media screen and (min-width: 499px) and (max-width:650px) {
  .postcontainer{
    width: 100%;
    border: 2px solid black;
    border: none;
  }
  .postcontainer .contentdivsponsored{
    width: 48%;
 
  }
  .postcontainer .containe{
    width: 48%;
   
  }
  }
  @media screen and (min-width: 649px) and (max-width:843px) {
    .postcontainer{
      width: 82%;
      border: 2px solid black;
      border: none;
    }
    .postcontainer .contentdivsponsored{
      width: 48%;
      
    }
    .postcontainer .containe{
      width: 48%;
      
    }
    }
    @media screen and (min-width: 649px) and (max-width:915px){
      .modern .sidebar{
        display: block;
        width: 18%;
       
        
       }
    }
  @media screen and (min-width: 842px) and (max-width:905px) {
    .postcontainer{
      width: 90%;
      border: 2px solid black;
      border: none;
    }
    .postcontainer .contentdivsponsored{
      width: 31%;
    }
    .postcontainer .containe{
      width: 31%;
      
    }
    }
    @media screen and (min-width: 914px) and (max-width:1000px) {
      .modern .sidebar{
        display: block;
        width: 16%;
    
       
       }
    }
    @media screen and (min-width:999px) and (max-width:1100px) {
      .modern .sidebar{
        display: block;
        width: 15%;
      
       
       }
    }
    @media screen and (min-width:1099px) and (max-width:1260px) {
      .modern .sidebar{
        display: block;
        width: 13%;
        
       
       }
    }
    @media screen and (min-width:1259px) and (max-width:1550px) {
      .modern .sidebar{
        display: block;
        width: 11%;
        
       
       }
    }
    @media screen and (min-width:1549px) and (max-width:1750px) {
      .modern .sidebar{
        display: block;
        width: 9%;
     
       
       }
    }
    @media screen and (min-width: 904px) and (max-width:1250px) {
      .postcontainer{
        width: 90%;
        border: 2px solid black;
        border: none;
      }
      .postcontainer .contentdivsponsored{
        width: 32%;
      }
      .postcontainer .containe{
        width: 32%;
        
      }
      }
        @media screen and (min-width: 1249px) and (max-width:1700px) {
       
          .postcontainer{
            width: 90%;
            border: 2px solid black;
            border: none;
          }
          .postcontainer .contentdivsponsored{
            width: 24%;
          }
          .postcontainer .containe{
            width: 24%;
          }
          }
