.alwaysmain{
  overflow: scroll;
  height: 100vh;
}
.alwaysmain::-webkit-scrollbar {
  width: 8px;  
  display: none;
}

.alwaysmain::-webkit-scrollbar-track {
  background-color: rgb(207,204,204);
  border-radius: 10px;  
  box-shadow: 10px 10px 10px 10px rgb(228, 223, 223);
  display: none;
}

.alwaysmain::-webkit-scrollbar-thumb {
  background-color: #888;  
  border-radius: 10px;  
  height: 15px;
  display: none;
}

.alwaysmain::-webkit-scrollbar-thumb:hover {
  background-color: #555;  
 
}
.alwaysmain .likescontainer{
  width: 100%;
  display: flex;
  box-shadow: 10px 10px 10px 10px rgb(174, 164, 164),inset -30px 30px 20px rgb(207,204,204);
  flex-wrap: wrap;
 
  justify-content: center;
  box-shadow: none;
  border: none;
}
.likescontainer::-webkit-scrollbar {
  width: 8px;  
  display: none;
}

.likescontainer::-webkit-scrollbar-track {
  background-color: rgb(207,204,204);
  border-radius: 10px;  
  box-shadow: 10px 10px 10px 10px rgb(228, 223, 223);
  display: none;
}

.likescontainer::-webkit-scrollbar-thumb {
  background-color: #888;  
  border-radius: 10px;  
  height: 15px;
  display: none;
}

.likescontainer::-webkit-scrollbar-thumb:hover {
  background-color: #555;  
 
}
.likescontainer .con{
  border: 2px solid red;
  width: 19%;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 5px;
  margin-top: 4px;
  background-color: rgb(240,240,240);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid white;
}

.con .thumb{
  width: 100%;
}
.thumb .thumbna{
  width: 100%;
  height: 190px;
  background-color: rgb(240,240,240);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.con .titled{
  margin-top: 10px;
  border: 1px solid black;
  overflow: hidden;
  height: 20px;
  width: 100%;
  border: none;
}
.titled .ptitl{
  border: 1px  solid black;
  text-transform: lowercase;
  font-weight: 500;
  width: 100%;
  text-align: center;
  text-shadow: 10px 10px 10px rgba(233, 229, 229, 0.5);
  color: black;
  border: none;
}
.con .creatord{
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
  border: none;
}
.creatord .creatorima{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 5px 5px 15px rgba(255, 254, 254, 0.2);
  border: none;
  transition: all 2s ease;
}
.creatorima:hover{
  transform: scale(1.1);
 
}
.creatord .creatorna{

  font-size: 13px;
  font-weight: 500;

  text-align: start;
  border: 1px solid black;
  margin-left: 20px;
  border: none;
}
@media screen and (min-width:0px) and (max-width:500px) {
 
   .likescontainer .con{
    width: 49%;
   
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    border: none;
   }
   
  .containe .creatordi{
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .postcontainer .contentdivsponsored{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .shows .showimage{
    width: 100%;
    height: 210px;
    border: 1px solid blue;
    
    border: none;
  }
  .con .remv{
    position: absolute;
    right: 2px;
  }
  .remv .tra{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 7px;

    cursor: pointer;
    border: none;
  }
  .con .creatord{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 0px;
    margin-bottom: 5px;
    border: none;
  }
  .thumb .thumbna{
    width: 100%;
    height: 190px;
   
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .creatord .creatorima{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
   
    border: none;
    margin-left: 5px;
    transition: all 2s ease;
  }
  .titled .ptitl{
    border: 1px  solid black;
    text-transform: lowercase;
    font-weight: 500;
    width: 100%;
    font-size: 13px;
    text-align: center;
   
    color: black;
    border: none;
  }
  .creatord .creatorna{
  
    font-size: 13px;
    font-weight: 500;
  
    text-align: start;
    border: 1px solid black;
    margin-left: 5px;
    border: none;
  }
  
  }
  @media screen and (min-width: 499px) and (max-width:650px) {
   
    .likescontainer .con{
      width: 48%;
    }
    }
    @media screen and (min-width: 649px) and (max-width:843px) {
      .likescontainer .con{
        width: 48%;
      }
      }
  @media screen and (min-width: 842px) and (max-width:905px) {
    .likescontainer .con{
      width: 31%;
    }
          }
          @media screen and (min-width: 905px) and (max-width:1250px) {
            .likescontainer .con{
              width: 32%;
            }
            }
            @media screen and (min-width: 1249px) and (max-width:1700px) {
              .likescontainer .con{
                width: 24%;
              }
              }